@model Memberships.Models.ThumbnailAreaModel

<div>
    <h3>The Title area</h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="..." alt=""/>
                <div class="caption">
                    <h3>Thumbnail title</h3>
                    <p>thumbnail description</p>
                </div>
            </div>
        </div>
    </div>
</div>